/*CONTATO*/
#contato{
    background-image: url(../img/Contatos.png);
    background-size: contain;
    height: 70vh;
}

#contato .page{
    margin: auto;
}

#contato #conteudo{
    background-color: rgb(255, 255, 255);
    
}