/*CONTATO*/
#contato{
    background-image: url(../img/Contatos.png);
    background-size: contain;
    height: 70vh;
}

#contato .page{
    margin: auto;
}

#contato #conteudo{
    background-color: #cecece;
    opacity: 0.85;
    max-width: 60%;
    justify-items: center;
}

#contato h2{
    text-align: center;
    margin-bottom: 10%;
}

#contato #links{
    display: flex;
    margin: auto;
}

#contato #end{
    align-items: center;
}

#contato img{
    width: 3.5%;
    max-width: 1000px;
}