/*CURSOS*/
#cursos{
    background-color: #cecece;
}

#cursos .page{
    margin-left: 50px;
    margin-right: 50px;
}

#cursos #cabecalho_cursos{
    margin: 0 20px 0 200px;
}

#cursos #cabecalho_cursos a{
    text-decoration: none;
    color: black;
}

#cursos #cabecalho_cursos h2{
    font-size: 55px;
    color: #9E0303;
}

#cursos #cabecalho_cursos h3{
    margin-top: 30px;
}

#cursos #bloco_cursos{
    margin: 100px;
}

#cursos .linha_cursos{
    justify-content: center;
    display: flex;
    max-width: 950px;
    flex-wrap: wrap;
}

#cursos .curso{
    width: 15%;
    padding: 25px;
    word-break: break-word;
}

#cursos .curso:hover{
    border: #9E0303 solid 1px;
    padding: 24px;
}

#cursos .curso img{
    width: 100%;
    border-bottom: #cecece solid 3px;
}

#cursos .curso h4{
    font-size: 25px;
    font-weight: bold;
}

#cursos .curso p{
    text-indent: 0.5em;
    margin-top: 10px;
}

#cursos .curso{
    background-color: white;
    margin: 10px;
}

#cursos .curso .botao{
    text-align: center;
    margin-top: 40px;
    word-break: normal;
}

#cursos .curso .bot_comecar{
    text-decoration: none;
    padding: 5px 40px;
    border: #ff0000 solid 2px;
    border-radius: 5px;
    background-color: #ff8080;
    color: white;
}

@media screen and (max-width: 600px){
    #cursos .linha_cursos{
        flex-wrap: wrap;
    }
}