*{
    scroll-behavior: smooth;
    margin: 0;
}

/*---Header---*/
header{
    width: 100%;
    z-index: 1;
    position: fixed;
}

nav{
    display: flex;
    background-color: #CECECE;
    padding: 4px;
    font-weight: bold;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    height: 5em;
}

#logo{
    width: 50px;
}

#navegacao ul{
    display: flex;
    height: 2em;
    align-items: center;
}

#navegacao li{
    list-style: none;
    margin: 0 30px 0 0;
    display: flex;
    text-align: center;
}

#navegacao a{
    padding: 5px;
}

#navegacao a:hover{
    transition: 0.5s;
    background-color: #ffffff;
    color: #9E0303;
    border-radius: 1em;
}

a{
    text-decoration: none;
    color: black;
}

#bot_cadastro{
    background-color: #ffffff;
    border-radius: 1em;
    font-size: 20px;
    padding: 5px;
}

#bot_cadastro a:hover{
    transition: 0.5s;
    font-size: 25px;
}

#detalhe_linha{
    height: 0.5em;
    background-color: #9E0303;
}

section{
    width: 99.14vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#calendario, #contato{
    background-color: #ffffff
}

#cursos, #disciplinas{
    background-color: #cecece
}

/*---Footer---*/
footer{
    width: 100%;
    position: relative;
    background-color: #CECECE;
    margin-top: 150px;
    height: 7em;
}