*{
    scroll-behavior: smooth;
    margin: 0;
}



/*HEADER*/
header{
    width: 100%;
    z-index: 1;
    position: fixed;
}

header nav{
    display: flex;
    background-color: #CECECE;
    padding: 4px;
    font-weight: bold;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    height: 5em;
}

header #logo{
    width: 60px;
}

header #navegacao ul{
    display: flex;
    height: 2em;
    align-items: center;
}

header #navegacao li{
    list-style: none;
    margin: 0 30px 0 0;
    display: flex;
    text-align: center;
}

header #navegacao a{
    padding: 5px;
}

header #navegacao a:hover{
    transition: 0.5s;
    background-color: #ffffff;
    color: #9E0303;
    border-radius: 1em;
}

header a{
    text-decoration: none;
    color: black;
}

header #bot_cadastro{
    background-color: #ffffff;
    border-radius: 1em;
    font-size: 20px;
    padding: 5px;
}

header #bot_cadastro a:hover{
    transition: 0.5s;
    font-size: 25px;
}

header #detalhe_linha{
    height: 0.5em;
    background-color: #9E0303;
}



/*SECTION*/
section{
    display: flex;
}



/*FOOTER*/
footer{
    width: 100%;
    position: relative;
    background-color: #CECECE;
    margin-top: 150px;
    height: 7em;
}