/*INICIO*/
#inicio{
    background: #2b0606;
    color: white;    
}

#inicio .page{
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
}

#inicio #titulo{
    display: flex;
    justify-content: center;
}

#inicio #titulo h1{
    font-size: 65px;
    text-align: center;
}

#inicio #titulo h3{
    font-size: 55px;
    margin-top: 30px;
    padding-left: 20px;
    text-align: center;
}

#inicio #bot_comecar{
    color: #ffffff;
    margin-top: 90px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 1em;
}

#inicio #bot_comecar a{
    text-decoration: none;
    color: #ffffff;
    border: white solid 2px;
    border-radius: 1em;
    padding: 10px;
}

#inicio #bot_comecar a:hover{
    background-color: #ffffff;
    transition: 0.5s;
    color: #9E0303;
    border-radius: 1em;
}

#inicio #img_inicial{
    width: 50%;
}

#inicio #img_inicial img{
    width: 60%;
    margin-left: 8em;
    display: flex;

}

#inicio #text_inicio{
    padding-top: 60px;
    text-align: center;
    margin: 16px;
    display: flex;
    justify-content: center;
}

#inicio #text_inicio ul{
    display: flex;
    max-width: 1700px;
    flex-wrap: wrap;
}

#inicio #text_inicio li{
    width: 25%;
    list-style: none;
    flex-wrap: wrap;
}

#inicio #text_inicio p{
    font-size: 20px;
    text-indent: 1.5em;
    flex-wrap: wrap;
}

@media screen and (min-width: 1921px) {
    #inicio #titulo h1{
        font-size: 90px;
    }

    #inicio #titulo h3{
        font-size: 80px;
    }

    #inicio #text_inicio p{
        font-size: 26px;
    }
}

@media screen and (max-width: 1700px) {
    #inicio #titulo h1{
        font-size: 60px;
    }

    #inicio #titulo h3{
        font-size: 50px;
    }

    #inicio #bot_comecar{
        margin-top: 70px;
        font-size: 27px;
    }

    #inicio #text_inicio p{
        font-size: 17px;
    }
}

@media screen and (max-width: 1450px) {
    #inicio #titulo h1{
        font-size: 55px;
   }

   #inicio #titulo h3{
    font-size: 45px;
    }

    #inicio #bot_comecar{
        margin-top: 50px;
        font-size: 24px;
    }
    
    #inicio #text_inicio p{
        font-size: 15px;
    }
}

@media screen and (max-width: 1200px) {
    #inicio #titulo h1{
        font-size: 50px;
        text-align: center;
    }

    #inicio #titulo h3{
        font-size: 40px;
    }

    #inicio #bot_comecar{
        margin-top: 70px;
        font-size: 25px;
    }

    #inicio #img_inicial{
        width: auto;
    }
    
    #inicio #img_inicial img{
        width: 35%;
        display: flex;
        margin: auto;
    }

    #inicio #titulo{
        display: block;
    }
    
    #inicio #text_inicio li{
        width: 25%;
        max-width: 1200px;
    }
    
    #inicio #text_inicio p{
        font-size: 14px;
    }
}

@media screen and (max-width: 900px) {
    #inicio #titulo h1{
        font-size: 45px;
        text-align: center;
    }

    #inicio #titulo h3{
        font-size: 35px;
    }

    #inicio #text_inicio p{
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    #inicio #titulo h1{
        font-size: 40px;
        text-align: center;
    }

    #inicio #titulo h3{
        font-size: 30px;
    }

    #inicio #bot_comecar{
        margin-top: 70px;
        font-size: 20px;
    }

    #inicio #img_inicial{
        width: auto;
    }
    
    #inicio #img_inicial img{
        width: 50%;
        display: flex;
        margin: auto;
    }

    #inicio #titulo{
        display: block;
    }

    #inicio #text_inicio p{
        font-size: 10px;
    }
}

@media screen and (max-width: 510px) {
    #inicio #titulo h1{
        font-size: 27px;
    }

    #inicio #titulo h3{
        font-size: 25px;
    }

    #inicio #text_inicio p{
        font-size: 10px;
    }
}