/*INICIO*/

#inicio{
    background: #2b0606;
    color: white;
    height: 100vh;
    
}

#inicio .page{
    padding: 20px;
    height: 90%;
    word-break: break-word;
    justify-items: center;
    justify-content: space-evenly;
    
}

#inicio #espacamento{
    height: 10em;
}

#inicio .page li{
    list-style: none;
    margin-top: 2em;
}

#inicio .conteudo{
    padding: 1em;
    justify-content: center;
}

#inicio #titulo{
    display: flex;    
}

#inicio #titulo h1{
    font-size: 90px;
}

#inicio #titulo h3{
    font-size: 70px;
    padding: 20px 0 0 0;
    text-align: center;
}

#inicio #bot_comecar{
    color: #ffffff;
    margin-top: 70px;
    text-align: center;
    padding: 10px;
    font-size: 26px;
    font-weight: bold;
    border-radius: 1em;
    
}

#inicio #bot_comecar a{
    text-decoration: none;
    color: #ffffff;
    border: white solid 2px;
    border-radius: 1em;
    padding: 10px;
}

#inicio #bot_comecar a:hover{
    background-color: #ffffff;
    transition: 0.5s;
    color: #9E0303;
    border-radius: 1em;
}

#inicio #img_inicial{
    width: 50%;
}

#inicio #img_inicial img{
    width: 50%;
    margin-left: 10em;
}

#inicio #text_inicio{
    text-align: center;
    width: 100%;
}

#inicio #text_inicio ul{
    width: 100%;
    display: flex;
    padding: 0;

}

#inicio #text_inicio li{
    width: 25%;
    word-break: break-word;
}

#inicio #text_inicio p{
    font-size: 18px;
    text-indent: 1.5em;
    height: 100%;
}



/*CURSOS*/
#cursos{
    background-color: #cecece;
    justify-content: center;
    height: 100%;
}

#cursos .page{
    width: 95%;
    margin-top: 5em;
}

#cursos #cabecalho_cursos_ext, #cursos #bloco_cursos_ext{
    padding: 30px;
}

#cursos #cabecalho_cursos_int, #cursos #bloco_cursos_int{
    padding: 15px;
}

#cursos #cabecalho_cursos_int a{
    text-decoration: none;
    color: black;
}

#cursos #cabecalho_cursos_int h2{
    font-size: 55px;
    color: #9E0303;
}

#cursos #cabecalho_cursos_int ul{
    display: flex;
    margin: 15px 0;
}

#cursos #cabecalho_cursos_int li{
    list-style: none;
    padding: 0 7px;
    font-weight: bold;
    font-size: 15px;
    
}

#cursos #cabecalho_cursos_int li #atual{
    color: #9E0303;
}

#cursos #cabecalho_cursos_int h3{
    font-size: 18px;
    margin-top: 35px;
}

#espacamento{
    height: 1em;
}

#cursos #bloco_cursos_ext{
    padding-bottom: 60px;
}

#cursos #bloco_cursos_int, #cursos #cabecalho_cursos_int{
    display: block;
    padding: 50px;
}

#cursos .linha_cursos{
    justify-content: center;
    display: flex;
}

#cursos .curso{
    width: 18%;
    height: 5%;
    padding: 20px;
    min-width: 18%;
    word-break: break-word;
}

#cursos .curso .img_anuncio{
    width: 20px;
}

#cursos .curso img{
    width: 100%;
    padding: 5px;
    margin: auto;
}

#cursos .curso h4{
    font-size: 35px;
    font-weight: normal;
}

#cursos .curso p{
    text-indent: 1.5em;
    margin-top: 8px;
}

#cursos .curso{
    background-color: white;
    margin: 15px;
    justify-items: center;
}

#cursos .curso #bot_comecar{
    width: 100%;
    height: 2em;
    margin: 20px;
}

